<div id="wrapper">

  <!-- Sidebar / Menu -->
  <app-menu></app-menu>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar (optional if you create later) -->
      <!-- <app-topbar></app-topbar> -->

      <!-- Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2026</span>
        </div>
      </div>
    </footer>

  </div>
</div>